<div>
    <img src = "@ViewBag.Product.PathImage" alt = "Alternate Text" />
</div>
<h1>Подробнее о продукте - @ViewBag.ProductName</h1>
<h1>Подробнее о продукте - @ViewData["ProductName"]</h1>
<p>Стоимость - @ViewBag.Cost</p>
<p>Описание - </p>